<h1>A bunch of Aww</h1>
<form action="/aww" method="post">
  <button type="submit">Find Top Aww</button>
</form>
<% if @awws %>
  <% @awws.each do |aww| %>
    <% if aww.link[0] == '/'%>
        <li><a href="https://www.reddit.com<%= aww.link %>"><%= aww.title%></a></li>
    <%else%>
      <li><a href="<%= aww.link %>"><%= aww.title%></a></li>
    <%end%>
  <%end %>
<%end %>
