<h1>Let's Scrape Reddit</h1>
<h4>If you scrape too often you can get an error or even worse a ban.  It is not necessary to scrape more than a few times a day"</h4>

<form action="/reddit" method="post">
  <button type="submit">Find Top Posts</button>
</form>

<% if @posts %>
  <% @posts.each do |post| %>
  <% if post.link[0] = '/'%>
      <li><a href="https://www.reddit.com<%= post.link %>"><%= post.title%></a></li>
    <%else%>
      <li><a href="<%= post.link %>"><%= post.title%></a></li>
    <%end %>
  <%end%>
<%end %>
